body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #ffce68;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffce68;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #218838;
}

#copyBtn {
    background-color: #ffce68;
    position: relative;
}

#copyBtn:hover {
    background-color: #218838;
}

/* Tooltip styling */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #218838;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 95%; /* Position above the button */
    left: 110%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Style for copied message */
.tooltip.clicked .tooltiptext {
    content: 'Copied!';
    visibility: visible;
    opacity: 1;
}
